@page "/Character"
@using InteractiveGameManual.Services
@using InteractiveGameManual.Model
@inject PlayerService Player;
@inject MonsterService Monster;

<PageTitle>Characters</PageTitle>
<div class="row">
    <div class="col-md-6 border border-black">
        <h1 class="text-center">Player</h1>
        <ul class="list-unstyled text-center">
            @foreach(Character player in Player.AllCharacters){
                <li>
                    <a href="/details/@player.Name">@player.Name</a>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-6 border border-black">
        <h1 class="d-flex justify-content-center">Monster</h1>
        <ul class="list-unstyled text-center">
            @foreach(Character monster in Monster.AllCharacters){
                <li>
                    <a class="d-flex justify-content-center" href="/details/@monster.Name">@monster.Name</a>
                </li>
            }
        </ul>
    </div>
</div>