@using InteractiveGameManual.Model;
@using InteractiveGameManual.Services;
@page "/characterdetails/{characterName}"
@inject PlayerService player;
@inject MonsterService monster;

<PageTitle>@character?.Name</PageTitle>

@for(int i = 0; i < player.AllCharacters.Count; i++){
    if(player.AllCharacters[i].Name == characterName){
        character = player.AllCharacters[i];
    }
}
@for(int i = 0; i < monster.AllCharacters.Count; i++){
    if(monster.AllCharacters[i].Name == characterName){
        character = monster.AllCharacters[i];
    }
}

<h1>@character?.Name</h1>
<p>Health is @character?.Health <br> power is @character?.Power</p>
<br>
<p>@character.Description</p>
<img src="@character?.ImageURL">

@code {
    [Parameter]
    public string? characterName{get; set;}
    Character? character{get; set;}
}