@page "/Character"
@using InteractiveGameManual.Services
@using InteractiveGameManual.Model
@inject PlayerService Player;
@inject MonsterService Monster;

<PageTitle>Characters</PageTitle>
<h1>Player</h1>
<ul>
    @foreach(Character player in Player.AllCharacters){
        <li>
            <a href="/characterdetails/@player.Name">@player.Name</a>
        </li>
    }
</ul>
<h1>Monster</h1>
<ul>
    @foreach(Character monster in Monster.AllCharacters){
        <li>
            <a href="/characterdetails/@monster.Name">@monster.Name</a>
        </li>
    }
</ul>
