@using InteractiveGameManual.Model;
@using InteractiveGameManual.Services;
@inject PotionService Potions;
@inject WeaponService Weapons;
@page "/items"

<PageTitle>Items</PageTitle>
<div>
    <h1>
        Potions
        <!-- Taken from opensource openclipart at https://openclipart.org/detail/194632/potions -->
        <img src="https://openclipart.org/image/800px/194632" style="width: 60px; height: auto;">
    </h1>
    <ul>
        @foreach(var potion in Potions.AllItems){
            <li>
                <a href="/details/@potion.Name">@potion.Name</a>
            </li>
        }   
    </ul>
    <h1>
        Weapons
        <!--Taken from opensource openclipart at https://openclipart.org/detail/3058/crossed-swords-->
        <img src="https://openclipart.org/image/800px/3058" style="Width: 60px; height: auto;">
    </h1>
    <ul>
        @foreach(var weapon in Weapons.AllItems){
            <li>
                <a href="/details/@weapon.Name">@weapon.Name</a>
            </li>
        }
    </ul>
</div>